#include <behaviors/position_trigger.dtsi>


/ {    macros {
        Clique_1: Clique_1{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 1";
            bindings = <&pos_trig 76 &pos_trig 77 &pos_trig 78 &pos_trig 79 &pos_trig 80 &pos_trig 81 &pos_trig 82 &pos_trig 83 &pos_trig 84 &pos_trig 85 &pos_trig 86 &pos_trig 87 &pos_trig 88 &pos_trig 89 &pos_trig 90 &pos_trig 91 &pos_trig 92 &pos_trig 93 &pos_trig 94 &pos_trig 95 &pos_trig 96 &pos_trig 97 &pos_trig 98 &pos_trig 99 &pos_trig 100 &pos_trig 101 &pos_trig 102 &pos_trig 103 &pos_trig 104 &pos_trig 105 &pos_trig 106 &pos_trig 107 &pos_trig 108 &pos_trig 109 &pos_trig 110 &pos_trig 111 &pos_trig 112 &pos_trig 113 &pos_trig 114 &pos_trig 115 &pos_trig 116 &pos_trig 117 &pos_trig 118 &pos_trig 119 &pos_trig 120 &pos_trig 121 &pos_trig 122 &pos_trig 123 &pos_trig 124 &pos_trig 125 &pos_trig 126 &pos_trig 127 &pos_trig 128 &pos_trig 129 &pos_trig 130 &pos_trig 131 &pos_trig 132 &pos_trig 133 &pos_trig 134 &pos_trig 135 &pos_trig 136 &pos_trig 137 &pos_trig 138 &pos_trig 139 >;
        };
        Clique_2: Clique_2{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 2";
            bindings = <&pos_trig 140 &pos_trig 141 &pos_trig 142 &pos_trig 143 &pos_trig 144 &pos_trig 145 &pos_trig 146 &pos_trig 147 &pos_trig 148 &pos_trig 149 &pos_trig 150 &pos_trig 151 &pos_trig 152 &pos_trig 153 &pos_trig 154 &pos_trig 155 &pos_trig 156 &pos_trig 157 &pos_trig 158 &pos_trig 159 &pos_trig 160 &pos_trig 161 &pos_trig 162 &pos_trig 163 &pos_trig 164 &pos_trig 165 &pos_trig 166 &pos_trig 167 &pos_trig 168 &pos_trig 169 &pos_trig 170 &pos_trig 171 &pos_trig 172 &pos_trig 173 &pos_trig 174 &pos_trig 175 &pos_trig 176 &pos_trig 177 &pos_trig 178 &pos_trig 179 &pos_trig 180 &pos_trig 181 &pos_trig 182 &pos_trig 183 &pos_trig 184 &pos_trig 185 &pos_trig 186 &pos_trig 187 &pos_trig 188 &pos_trig 189 &pos_trig 190 &pos_trig 191 &pos_trig 192 &pos_trig 193 &pos_trig 194 &pos_trig 195 &pos_trig 196 &pos_trig 197 &pos_trig 198 &pos_trig 199 &pos_trig 200 &pos_trig 201 &pos_trig 202 &pos_trig 203 >;
        };
        Clique_3: Clique_3{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 3";
            bindings = <&pos_trig 204 &pos_trig 205 &pos_trig 206 &pos_trig 207 &pos_trig 208 &pos_trig 209 &pos_trig 210 &pos_trig 211 &pos_trig 212 &pos_trig 213 &pos_trig 214 &pos_trig 215 &pos_trig 216 &pos_trig 217 &pos_trig 218 &pos_trig 219 &pos_trig 220 &pos_trig 221 &pos_trig 222 &pos_trig 223 &pos_trig 224 &pos_trig 225 &pos_trig 226 &pos_trig 227 &pos_trig 228 &pos_trig 229 &pos_trig 230 &pos_trig 231 &pos_trig 232 &pos_trig 233 &pos_trig 234 &pos_trig 235 &pos_trig 236 &pos_trig 237 &pos_trig 238 &pos_trig 239 &pos_trig 240 &pos_trig 241 &pos_trig 242 &pos_trig 243 &pos_trig 244 &pos_trig 245 &pos_trig 246 &pos_trig 247 &pos_trig 248 &pos_trig 249 &pos_trig 250 &pos_trig 251 &pos_trig 252 &pos_trig 253 &pos_trig 254 &pos_trig 255 &pos_trig 256 &pos_trig 257 &pos_trig 258 &pos_trig 259 &pos_trig 260 &pos_trig 261 &pos_trig 262 &pos_trig 263 &pos_trig 264 &pos_trig 265 &pos_trig 266 &pos_trig 267 >;
        };
        Clique_4: Clique_4{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 4";
            bindings = <&pos_trig 268 &pos_trig 269 &pos_trig 270 &pos_trig 271 &pos_trig 272 &pos_trig 273 &pos_trig 274 &pos_trig 275 &pos_trig 276 &pos_trig 277 &pos_trig 278 &pos_trig 279 &pos_trig 280 &pos_trig 281 &pos_trig 282 &pos_trig 283 &pos_trig 284 &pos_trig 285 &pos_trig 286 &pos_trig 287 &pos_trig 288 &pos_trig 289 &pos_trig 290 &pos_trig 291 &pos_trig 292 &pos_trig 293 &pos_trig 294 &pos_trig 295 &pos_trig 296 &pos_trig 297 &pos_trig 298 &pos_trig 299 &pos_trig 300 &pos_trig 301 &pos_trig 302 &pos_trig 303 &pos_trig 304 &pos_trig 305 &pos_trig 306 &pos_trig 307 &pos_trig 308 &pos_trig 309 &pos_trig 310 &pos_trig 311 &pos_trig 312 &pos_trig 313 &pos_trig 314 &pos_trig 315 &pos_trig 316 &pos_trig 317 &pos_trig 318 &pos_trig 319 &pos_trig 320 &pos_trig 321 &pos_trig 322 &pos_trig 323 &pos_trig 324 &pos_trig 325 &pos_trig 326 &pos_trig 327 &pos_trig 328 &pos_trig 329 &pos_trig 330 &pos_trig 331 >;
        };
        Clique_5: Clique_5{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 5";
            bindings = <&pos_trig 332 &pos_trig 333 &pos_trig 334 &pos_trig 335 &pos_trig 336 &pos_trig 337 &pos_trig 338 &pos_trig 339 &pos_trig 340 &pos_trig 341 &pos_trig 342 &pos_trig 343 &pos_trig 344 &pos_trig 345 &pos_trig 346 &pos_trig 347 &pos_trig 348 &pos_trig 349 &pos_trig 350 &pos_trig 351 &pos_trig 352 &pos_trig 353 &pos_trig 354 &pos_trig 355 &pos_trig 356 &pos_trig 357 &pos_trig 358 &pos_trig 359 &pos_trig 360 &pos_trig 361 &pos_trig 362 &pos_trig 363 &pos_trig 364 &pos_trig 365 &pos_trig 366 &pos_trig 367 &pos_trig 368 &pos_trig 369 &pos_trig 370 &pos_trig 371 &pos_trig 372 &pos_trig 373 &pos_trig 374 &pos_trig 375 &pos_trig 376 &pos_trig 377 &pos_trig 378 &pos_trig 379 &pos_trig 380 &pos_trig 381 &pos_trig 382 &pos_trig 383 &pos_trig 384 &pos_trig 385 &pos_trig 386 &pos_trig 387 &pos_trig 388 &pos_trig 389 &pos_trig 390 &pos_trig 391 &pos_trig 392 &pos_trig 393 &pos_trig 394 &pos_trig 395 >;
        };
        Clique_6: Clique_6{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 6";
            bindings = <&pos_trig 396 &pos_trig 397 &pos_trig 398 &pos_trig 399 &pos_trig 400 &pos_trig 401 &pos_trig 402 &pos_trig 403 &pos_trig 404 &pos_trig 405 &pos_trig 406 &pos_trig 407 &pos_trig 408 &pos_trig 409 &pos_trig 410 &pos_trig 411 &pos_trig 412 &pos_trig 413 &pos_trig 414 &pos_trig 415 &pos_trig 416 &pos_trig 417 &pos_trig 418 &pos_trig 419 &pos_trig 420 &pos_trig 421 &pos_trig 422 &pos_trig 423 &pos_trig 424 &pos_trig 425 &pos_trig 426 &pos_trig 427 &pos_trig 428 &pos_trig 429 &pos_trig 430 &pos_trig 431 &pos_trig 432 &pos_trig 433 &pos_trig 434 &pos_trig 435 &pos_trig 436 &pos_trig 437 &pos_trig 438 &pos_trig 439 &pos_trig 440 &pos_trig 441 &pos_trig 442 &pos_trig 443 &pos_trig 444 &pos_trig 445 &pos_trig 446 &pos_trig 447 &pos_trig 448 &pos_trig 449 &pos_trig 450 &pos_trig 451 &pos_trig 452 &pos_trig 453 &pos_trig 454 &pos_trig 455 &pos_trig 456 &pos_trig 457 &pos_trig 458 &pos_trig 459 >;
        };
        Clique_7: Clique_7{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 7";
            bindings = <&pos_trig 460 &pos_trig 461 &pos_trig 462 &pos_trig 463 &pos_trig 464 &pos_trig 465 &pos_trig 466 &pos_trig 467 &pos_trig 468 &pos_trig 469 &pos_trig 470 &pos_trig 471 &pos_trig 472 &pos_trig 473 &pos_trig 474 &pos_trig 475 &pos_trig 476 &pos_trig 477 &pos_trig 478 &pos_trig 479 &pos_trig 480 &pos_trig 481 &pos_trig 482 &pos_trig 483 &pos_trig 484 &pos_trig 485 &pos_trig 486 &pos_trig 487 &pos_trig 488 &pos_trig 489 &pos_trig 490 &pos_trig 491 &pos_trig 492 &pos_trig 493 &pos_trig 494 &pos_trig 495 &pos_trig 496 &pos_trig 497 &pos_trig 498 &pos_trig 499 &pos_trig 500 &pos_trig 501 &pos_trig 502 &pos_trig 503 &pos_trig 504 &pos_trig 505 &pos_trig 506 &pos_trig 507 &pos_trig 508 &pos_trig 509 &pos_trig 510 &pos_trig 511 &pos_trig 512 &pos_trig 513 &pos_trig 514 &pos_trig 515 &pos_trig 516 &pos_trig 517 &pos_trig 518 &pos_trig 519 &pos_trig 520 &pos_trig 521 &pos_trig 522 &pos_trig 523 >;
        };
        Clique_8: Clique_8{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 8";
            bindings = <&pos_trig 524 &pos_trig 525 &pos_trig 526 &pos_trig 527 &pos_trig 528 &pos_trig 529 &pos_trig 530 &pos_trig 531 &pos_trig 532 &pos_trig 533 &pos_trig 534 &pos_trig 535 &pos_trig 536 &pos_trig 537 &pos_trig 538 &pos_trig 539 &pos_trig 540 &pos_trig 541 &pos_trig 542 &pos_trig 543 &pos_trig 544 &pos_trig 545 &pos_trig 546 &pos_trig 547 &pos_trig 548 &pos_trig 549 &pos_trig 550 &pos_trig 551 &pos_trig 552 &pos_trig 553 &pos_trig 554 &pos_trig 555 &pos_trig 556 &pos_trig 557 &pos_trig 558 &pos_trig 559 &pos_trig 560 &pos_trig 561 &pos_trig 562 &pos_trig 563 &pos_trig 564 &pos_trig 565 &pos_trig 566 &pos_trig 567 &pos_trig 568 &pos_trig 569 &pos_trig 570 &pos_trig 571 &pos_trig 572 &pos_trig 573 &pos_trig 574 &pos_trig 575 &pos_trig 576 &pos_trig 577 &pos_trig 578 &pos_trig 579 &pos_trig 580 &pos_trig 581 &pos_trig 582 &pos_trig 583 &pos_trig 584 &pos_trig 585 &pos_trig 586 &pos_trig 587 >;
        };
        Clique_9: Clique_9{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 9";
            bindings = <&pos_trig 588 &pos_trig 589 &pos_trig 590 &pos_trig 591 &pos_trig 592 &pos_trig 593 &pos_trig 594 &pos_trig 595 &pos_trig 596 &pos_trig 597 &pos_trig 598 &pos_trig 599 &pos_trig 600 &pos_trig 601 &pos_trig 602 &pos_trig 603 &pos_trig 604 &pos_trig 605 &pos_trig 606 &pos_trig 607 &pos_trig 608 &pos_trig 609 &pos_trig 610 &pos_trig 611 &pos_trig 612 &pos_trig 613 &pos_trig 614 &pos_trig 615 &pos_trig 616 &pos_trig 617 &pos_trig 618 &pos_trig 619 &pos_trig 620 &pos_trig 621 &pos_trig 622 &pos_trig 623 &pos_trig 624 &pos_trig 625 &pos_trig 626 &pos_trig 627 &pos_trig 628 &pos_trig 629 &pos_trig 630 &pos_trig 631 &pos_trig 632 &pos_trig 633 &pos_trig 634 &pos_trig 635 &pos_trig 636 &pos_trig 637 &pos_trig 638 &pos_trig 639 &pos_trig 640 &pos_trig 641 &pos_trig 642 &pos_trig 643 &pos_trig 644 &pos_trig 645 &pos_trig 646 &pos_trig 647 &pos_trig 648 &pos_trig 649 &pos_trig 650 &pos_trig 651 >;
        };
        Clique_10: Clique_10{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 10";
            bindings = <&pos_trig 652 &pos_trig 653 &pos_trig 654 &pos_trig 655 &pos_trig 656 &pos_trig 657 &pos_trig 658 &pos_trig 659 &pos_trig 660 &pos_trig 661 &pos_trig 662 &pos_trig 663 &pos_trig 664 &pos_trig 665 &pos_trig 666 &pos_trig 667 &pos_trig 668 &pos_trig 669 &pos_trig 670 &pos_trig 671 &pos_trig 672 &pos_trig 673 &pos_trig 674 &pos_trig 675 &pos_trig 676 &pos_trig 677 &pos_trig 678 &pos_trig 679 &pos_trig 680 &pos_trig 681 &pos_trig 682 &pos_trig 683 &pos_trig 684 &pos_trig 685 &pos_trig 686 &pos_trig 687 &pos_trig 688 &pos_trig 689 &pos_trig 690 &pos_trig 691 &pos_trig 692 &pos_trig 693 &pos_trig 694 &pos_trig 695 &pos_trig 696 &pos_trig 697 &pos_trig 698 &pos_trig 699 &pos_trig 700 &pos_trig 701 &pos_trig 702 &pos_trig 703 &pos_trig 704 &pos_trig 705 &pos_trig 706 &pos_trig 707 &pos_trig 708 &pos_trig 709 &pos_trig 710 &pos_trig 711 &pos_trig 712 &pos_trig 713 &pos_trig 714 &pos_trig 715 >;
        };
        Clique_11: Clique_11{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 11";
            bindings = <&pos_trig 716 &pos_trig 717 &pos_trig 718 &pos_trig 719 &pos_trig 720 &pos_trig 721 &pos_trig 722 &pos_trig 723 &pos_trig 724 &pos_trig 725 &pos_trig 726 &pos_trig 727 &pos_trig 728 &pos_trig 729 &pos_trig 730 &pos_trig 731 &pos_trig 732 &pos_trig 733 &pos_trig 734 &pos_trig 735 &pos_trig 736 &pos_trig 737 &pos_trig 738 &pos_trig 739 &pos_trig 740 &pos_trig 741 &pos_trig 742 &pos_trig 743 &pos_trig 744 &pos_trig 745 &pos_trig 746 &pos_trig 747 &pos_trig 748 &pos_trig 749 &pos_trig 750 &pos_trig 751 &pos_trig 752 &pos_trig 753 &pos_trig 754 &pos_trig 755 &pos_trig 756 &pos_trig 757 &pos_trig 758 &pos_trig 759 &pos_trig 760 &pos_trig 761 &pos_trig 762 &pos_trig 763 &pos_trig 764 &pos_trig 765 &pos_trig 766 &pos_trig 767 &pos_trig 768 &pos_trig 769 &pos_trig 770 &pos_trig 771 &pos_trig 772 &pos_trig 773 &pos_trig 774 &pos_trig 775 &pos_trig 776 &pos_trig 777 &pos_trig 778 &pos_trig 779 >;
        };
        Clique_12: Clique_12{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 12";
            bindings = <&pos_trig 780 &pos_trig 781 &pos_trig 782 &pos_trig 783 &pos_trig 784 &pos_trig 785 &pos_trig 786 &pos_trig 787 &pos_trig 788 &pos_trig 789 &pos_trig 790 &pos_trig 791 &pos_trig 792 &pos_trig 793 &pos_trig 794 &pos_trig 795 &pos_trig 796 &pos_trig 797 &pos_trig 798 &pos_trig 799 &pos_trig 800 &pos_trig 801 &pos_trig 802 &pos_trig 803 &pos_trig 804 &pos_trig 805 &pos_trig 806 &pos_trig 807 &pos_trig 808 &pos_trig 809 &pos_trig 810 &pos_trig 811 &pos_trig 812 &pos_trig 813 &pos_trig 814 &pos_trig 815 &pos_trig 816 &pos_trig 817 &pos_trig 818 &pos_trig 819 &pos_trig 820 &pos_trig 821 &pos_trig 822 &pos_trig 823 &pos_trig 824 &pos_trig 825 &pos_trig 826 &pos_trig 827 &pos_trig 828 &pos_trig 829 &pos_trig 830 &pos_trig 831 &pos_trig 832 &pos_trig 833 &pos_trig 834 &pos_trig 835 &pos_trig 836 &pos_trig 837 &pos_trig 838 &pos_trig 839 &pos_trig 840 &pos_trig 841 &pos_trig 842 &pos_trig 843 >;
        };
        Clique_13: Clique_13{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 13";
            bindings = <&pos_trig 844 &pos_trig 845 &pos_trig 846 &pos_trig 847 &pos_trig 848 &pos_trig 849 &pos_trig 850 &pos_trig 851 &pos_trig 852 &pos_trig 853 &pos_trig 854 &pos_trig 855 &pos_trig 856 &pos_trig 857 &pos_trig 858 &pos_trig 859 &pos_trig 860 &pos_trig 861 &pos_trig 862 &pos_trig 863 &pos_trig 864 &pos_trig 865 &pos_trig 866 &pos_trig 867 &pos_trig 868 &pos_trig 869 &pos_trig 870 &pos_trig 871 &pos_trig 872 &pos_trig 873 &pos_trig 874 &pos_trig 875 &pos_trig 876 &pos_trig 877 &pos_trig 878 &pos_trig 879 &pos_trig 880 &pos_trig 881 &pos_trig 882 &pos_trig 883 &pos_trig 884 &pos_trig 885 &pos_trig 886 &pos_trig 887 &pos_trig 888 &pos_trig 889 &pos_trig 890 &pos_trig 891 &pos_trig 892 &pos_trig 893 &pos_trig 894 &pos_trig 895 &pos_trig 896 &pos_trig 897 &pos_trig 898 &pos_trig 899 &pos_trig 900 &pos_trig 901 &pos_trig 902 &pos_trig 903 &pos_trig 904 &pos_trig 905 &pos_trig 906 &pos_trig 907 >;
        };
        Clique_14: Clique_14{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 14";
            bindings = <&pos_trig 908 &pos_trig 909 &pos_trig 910 &pos_trig 911 &pos_trig 912 &pos_trig 913 &pos_trig 914 &pos_trig 915 &pos_trig 916 &pos_trig 917 &pos_trig 918 &pos_trig 919 &pos_trig 920 &pos_trig 921 &pos_trig 922 &pos_trig 923 &pos_trig 924 &pos_trig 925 &pos_trig 926 &pos_trig 927 &pos_trig 928 &pos_trig 929 &pos_trig 930 &pos_trig 931 &pos_trig 932 &pos_trig 933 &pos_trig 934 &pos_trig 935 &pos_trig 936 &pos_trig 937 &pos_trig 938 &pos_trig 939 &pos_trig 940 &pos_trig 941 &pos_trig 942 &pos_trig 943 &pos_trig 944 &pos_trig 945 &pos_trig 946 &pos_trig 947 &pos_trig 948 &pos_trig 949 &pos_trig 950 &pos_trig 951 &pos_trig 952 &pos_trig 953 &pos_trig 954 &pos_trig 955 &pos_trig 956 &pos_trig 957 &pos_trig 958 &pos_trig 959 &pos_trig 960 &pos_trig 961 &pos_trig 962 &pos_trig 963 &pos_trig 964 &pos_trig 965 &pos_trig 966 &pos_trig 967 &pos_trig 968 &pos_trig 969 &pos_trig 970 &pos_trig 971 >;
        };
        Clique_15: Clique_15{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 15";
            bindings = <&pos_trig 972 &pos_trig 973 &pos_trig 974 &pos_trig 975 &pos_trig 976 &pos_trig 977 &pos_trig 978 &pos_trig 979 &pos_trig 980 &pos_trig 981 &pos_trig 982 &pos_trig 983 &pos_trig 984 &pos_trig 985 &pos_trig 986 &pos_trig 987 &pos_trig 988 &pos_trig 989 &pos_trig 990 &pos_trig 991 &pos_trig 992 &pos_trig 993 &pos_trig 994 &pos_trig 995 &pos_trig 996 &pos_trig 997 &pos_trig 998 &pos_trig 999 &pos_trig 1000 &pos_trig 1001 &pos_trig 1002 &pos_trig 1003 &pos_trig 1004 &pos_trig 1005 &pos_trig 1006 &pos_trig 1007 &pos_trig 1008 &pos_trig 1009 &pos_trig 1010 &pos_trig 1011 &pos_trig 1012 &pos_trig 1013 &pos_trig 1014 &pos_trig 1015 &pos_trig 1016 &pos_trig 1017 &pos_trig 1018 &pos_trig 1019 &pos_trig 1020 &pos_trig 1021 &pos_trig 1022 &pos_trig 1023 &pos_trig 1024 &pos_trig 1025 &pos_trig 1026 &pos_trig 1027 &pos_trig 1028 &pos_trig 1029 &pos_trig 1030 &pos_trig 1031 &pos_trig 1032 &pos_trig 1033 &pos_trig 1034 &pos_trig 1035 >;
        };
        Clique_16: Clique_16{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 16";
            bindings = <&pos_trig 1036 &pos_trig 1037 &pos_trig 1038 &pos_trig 1039 &pos_trig 1040 &pos_trig 1041 &pos_trig 1042 &pos_trig 1043 &pos_trig 1044 &pos_trig 1045 &pos_trig 1046 &pos_trig 1047 &pos_trig 1048 &pos_trig 1049 &pos_trig 1050 &pos_trig 1051 &pos_trig 1052 &pos_trig 1053 &pos_trig 1054 &pos_trig 1055 &pos_trig 1056 &pos_trig 1057 &pos_trig 1058 &pos_trig 1059 &pos_trig 1060 &pos_trig 1061 &pos_trig 1062 &pos_trig 1063 &pos_trig 1064 &pos_trig 1065 &pos_trig 1066 &pos_trig 1067 &pos_trig 1068 &pos_trig 1069 &pos_trig 1070 &pos_trig 1071 &pos_trig 1072 &pos_trig 1073 &pos_trig 1074 &pos_trig 1075 &pos_trig 1076 &pos_trig 1077 &pos_trig 1078 &pos_trig 1079 &pos_trig 1080 &pos_trig 1081 &pos_trig 1082 &pos_trig 1083 &pos_trig 1084 &pos_trig 1085 &pos_trig 1086 &pos_trig 1087 &pos_trig 1088 &pos_trig 1089 &pos_trig 1090 &pos_trig 1091 &pos_trig 1092 &pos_trig 1093 &pos_trig 1094 &pos_trig 1095 &pos_trig 1096 &pos_trig 1097 &pos_trig 1098 &pos_trig 1099 >;
        };
        Clique_17: Clique_17{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 17";
            bindings = <&pos_trig 1100 &pos_trig 1101 &pos_trig 1102 &pos_trig 1103 &pos_trig 1104 &pos_trig 1105 &pos_trig 1106 &pos_trig 1107 &pos_trig 1108 &pos_trig 1109 &pos_trig 1110 &pos_trig 1111 &pos_trig 1112 &pos_trig 1113 &pos_trig 1114 &pos_trig 1115 &pos_trig 1116 &pos_trig 1117 &pos_trig 1118 &pos_trig 1119 &pos_trig 1120 &pos_trig 1121 &pos_trig 1122 &pos_trig 1123 &pos_trig 1124 &pos_trig 1125 &pos_trig 1126 &pos_trig 1127 &pos_trig 1128 &pos_trig 1129 &pos_trig 1130 &pos_trig 1131 &pos_trig 1132 &pos_trig 1133 &pos_trig 1134 &pos_trig 1135 &pos_trig 1136 &pos_trig 1137 &pos_trig 1138 &pos_trig 1139 &pos_trig 1140 &pos_trig 1141 &pos_trig 1142 &pos_trig 1143 &pos_trig 1144 &pos_trig 1145 &pos_trig 1146 &pos_trig 1147 &pos_trig 1148 &pos_trig 1149 &pos_trig 1150 &pos_trig 1151 &pos_trig 1152 &pos_trig 1153 &pos_trig 1154 &pos_trig 1155 &pos_trig 1156 &pos_trig 1157 &pos_trig 1158 &pos_trig 1159 &pos_trig 1160 &pos_trig 1161 &pos_trig 1162 &pos_trig 1163 >;
        };
        Clique_18: Clique_18{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 18";
            bindings = <&pos_trig 1164 &pos_trig 1165 &pos_trig 1166 &pos_trig 1167 &pos_trig 1168 &pos_trig 1169 &pos_trig 1170 &pos_trig 1171 &pos_trig 1172 &pos_trig 1173 &pos_trig 1174 &pos_trig 1175 &pos_trig 1176 &pos_trig 1177 &pos_trig 1178 &pos_trig 1179 &pos_trig 1180 &pos_trig 1181 &pos_trig 1182 &pos_trig 1183 &pos_trig 1184 &pos_trig 1185 &pos_trig 1186 &pos_trig 1187 &pos_trig 1188 &pos_trig 1189 &pos_trig 1190 &pos_trig 1191 &pos_trig 1192 &pos_trig 1193 &pos_trig 1194 &pos_trig 1195 &pos_trig 1196 &pos_trig 1197 &pos_trig 1198 &pos_trig 1199 &pos_trig 1200 &pos_trig 1201 &pos_trig 1202 &pos_trig 1203 &pos_trig 1204 &pos_trig 1205 &pos_trig 1206 &pos_trig 1207 &pos_trig 1208 &pos_trig 1209 &pos_trig 1210 &pos_trig 1211 &pos_trig 1212 &pos_trig 1213 &pos_trig 1214 &pos_trig 1215 &pos_trig 1216 &pos_trig 1217 &pos_trig 1218 &pos_trig 1219 &pos_trig 1220 &pos_trig 1221 &pos_trig 1222 &pos_trig 1223 &pos_trig 1224 &pos_trig 1225 &pos_trig 1226 &pos_trig 1227 >;
        };
        Clique_19: Clique_19{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 19";
            bindings = <&pos_trig 1228 &pos_trig 1229 &pos_trig 1230 &pos_trig 1231 &pos_trig 1232 &pos_trig 1233 &pos_trig 1234 &pos_trig 1235 &pos_trig 1236 &pos_trig 1237 &pos_trig 1238 &pos_trig 1239 &pos_trig 1240 &pos_trig 1241 &pos_trig 1242 &pos_trig 1243 &pos_trig 1244 &pos_trig 1245 &pos_trig 1246 &pos_trig 1247 &pos_trig 1248 &pos_trig 1249 &pos_trig 1250 &pos_trig 1251 &pos_trig 1252 &pos_trig 1253 &pos_trig 1254 &pos_trig 1255 &pos_trig 1256 &pos_trig 1257 &pos_trig 1258 &pos_trig 1259 &pos_trig 1260 &pos_trig 1261 &pos_trig 1262 &pos_trig 1263 &pos_trig 1264 &pos_trig 1265 &pos_trig 1266 &pos_trig 1267 &pos_trig 1268 &pos_trig 1269 &pos_trig 1270 &pos_trig 1271 &pos_trig 1272 &pos_trig 1273 &pos_trig 1274 &pos_trig 1275 &pos_trig 1276 &pos_trig 1277 &pos_trig 1278 &pos_trig 1279 &pos_trig 1280 &pos_trig 1281 &pos_trig 1282 &pos_trig 1283 &pos_trig 1284 &pos_trig 1285 &pos_trig 1286 &pos_trig 1287 &pos_trig 1288 &pos_trig 1289 &pos_trig 1290 &pos_trig 1291 >;
        };
        Clique_20: Clique_20{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 20";
            bindings = <&pos_trig 1292 &pos_trig 1293 &pos_trig 1294 &pos_trig 1295 &pos_trig 1296 &pos_trig 1297 &pos_trig 1298 &pos_trig 1299 &pos_trig 1300 &pos_trig 1301 &pos_trig 1302 &pos_trig 1303 &pos_trig 1304 &pos_trig 1305 &pos_trig 1306 &pos_trig 1307 &pos_trig 1308 &pos_trig 1309 &pos_trig 1310 &pos_trig 1311 &pos_trig 1312 &pos_trig 1313 &pos_trig 1314 &pos_trig 1315 &pos_trig 1316 &pos_trig 1317 &pos_trig 1318 &pos_trig 1319 &pos_trig 1320 &pos_trig 1321 &pos_trig 1322 &pos_trig 1323 &pos_trig 1324 &pos_trig 1325 &pos_trig 1326 &pos_trig 1327 &pos_trig 1328 &pos_trig 1329 &pos_trig 1330 &pos_trig 1331 &pos_trig 1332 &pos_trig 1333 &pos_trig 1334 &pos_trig 1335 &pos_trig 1336 &pos_trig 1337 &pos_trig 1338 &pos_trig 1339 &pos_trig 1340 &pos_trig 1341 &pos_trig 1342 &pos_trig 1343 &pos_trig 1344 &pos_trig 1345 &pos_trig 1346 &pos_trig 1347 &pos_trig 1348 &pos_trig 1349 &pos_trig 1350 &pos_trig 1351 &pos_trig 1352 &pos_trig 1353 &pos_trig 1354 &pos_trig 1355 >;
        };
        Clique_21: Clique_21{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 21";
            bindings = <&pos_trig 1356 &pos_trig 1357 &pos_trig 1358 &pos_trig 1359 &pos_trig 1360 &pos_trig 1361 &pos_trig 1362 &pos_trig 1363 &pos_trig 1364 &pos_trig 1365 &pos_trig 1366 &pos_trig 1367 &pos_trig 1368 &pos_trig 1369 &pos_trig 1370 &pos_trig 1371 &pos_trig 1372 &pos_trig 1373 &pos_trig 1374 &pos_trig 1375 &pos_trig 1376 &pos_trig 1377 &pos_trig 1378 &pos_trig 1379 &pos_trig 1380 &pos_trig 1381 &pos_trig 1382 &pos_trig 1383 &pos_trig 1384 &pos_trig 1385 &pos_trig 1386 &pos_trig 1387 &pos_trig 1388 &pos_trig 1389 &pos_trig 1390 &pos_trig 1391 &pos_trig 1392 &pos_trig 1393 &pos_trig 1394 &pos_trig 1395 &pos_trig 1396 &pos_trig 1397 &pos_trig 1398 &pos_trig 1399 &pos_trig 1400 &pos_trig 1401 &pos_trig 1402 &pos_trig 1403 &pos_trig 1404 &pos_trig 1405 &pos_trig 1406 &pos_trig 1407 &pos_trig 1408 &pos_trig 1409 &pos_trig 1410 &pos_trig 1411 &pos_trig 1412 &pos_trig 1413 &pos_trig 1414 &pos_trig 1415 &pos_trig 1416 &pos_trig 1417 &pos_trig 1418 &pos_trig 1419 >;
        };
        Clique_22: Clique_22{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 22";
            bindings = <&pos_trig 1420 &pos_trig 1421 &pos_trig 1422 &pos_trig 1423 &pos_trig 1424 &pos_trig 1425 &pos_trig 1426 &pos_trig 1427 &pos_trig 1428 &pos_trig 1429 &pos_trig 1430 &pos_trig 1431 &pos_trig 1432 &pos_trig 1433 &pos_trig 1434 &pos_trig 1435 &pos_trig 1436 &pos_trig 1437 &pos_trig 1438 &pos_trig 1439 &pos_trig 1440 &pos_trig 1441 &pos_trig 1442 &pos_trig 1443 &pos_trig 1444 &pos_trig 1445 &pos_trig 1446 &pos_trig 1447 &pos_trig 1448 &pos_trig 1449 &pos_trig 1450 &pos_trig 1451 &pos_trig 1452 &pos_trig 1453 &pos_trig 1454 &pos_trig 1455 &pos_trig 1456 &pos_trig 1457 &pos_trig 1458 &pos_trig 1459 &pos_trig 1460 &pos_trig 1461 &pos_trig 1462 &pos_trig 1463 &pos_trig 1464 &pos_trig 1465 &pos_trig 1466 &pos_trig 1467 &pos_trig 1468 &pos_trig 1469 &pos_trig 1470 &pos_trig 1471 &pos_trig 1472 &pos_trig 1473 &pos_trig 1474 &pos_trig 1475 &pos_trig 1476 &pos_trig 1477 &pos_trig 1478 &pos_trig 1479 &pos_trig 1480 &pos_trig 1481 &pos_trig 1482 &pos_trig 1483 >;
        };
        Clique_23: Clique_23{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 23";
            bindings = <&pos_trig 1484 &pos_trig 1485 &pos_trig 1486 &pos_trig 1487 &pos_trig 1488 &pos_trig 1489 &pos_trig 1490 &pos_trig 1491 &pos_trig 1492 &pos_trig 1493 &pos_trig 1494 &pos_trig 1495 &pos_trig 1496 &pos_trig 1497 &pos_trig 1498 &pos_trig 1499 &pos_trig 1500 &pos_trig 1501 &pos_trig 1502 &pos_trig 1503 &pos_trig 1504 &pos_trig 1505 &pos_trig 1506 &pos_trig 1507 &pos_trig 1508 &pos_trig 1509 &pos_trig 1510 &pos_trig 1511 &pos_trig 1512 &pos_trig 1513 &pos_trig 1514 &pos_trig 1515 &pos_trig 1516 &pos_trig 1517 &pos_trig 1518 &pos_trig 1519 &pos_trig 1520 &pos_trig 1521 &pos_trig 1522 &pos_trig 1523 &pos_trig 1524 &pos_trig 1525 &pos_trig 1526 &pos_trig 1527 &pos_trig 1528 &pos_trig 1529 &pos_trig 1530 &pos_trig 1531 &pos_trig 1532 &pos_trig 1533 &pos_trig 1534 &pos_trig 1535 &pos_trig 1536 &pos_trig 1537 &pos_trig 1538 &pos_trig 1539 &pos_trig 1540 &pos_trig 1541 &pos_trig 1542 &pos_trig 1543 &pos_trig 1544 &pos_trig 1545 &pos_trig 1546 &pos_trig 1547 >;
        };
        Clique_24: Clique_24{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            display-name = "Custom Macro 24";
            bindings = <&pos_trig 1548 &pos_trig 1549 &pos_trig 1550 &pos_trig 1551 &pos_trig 1552 &pos_trig 1553 &pos_trig 1554 &pos_trig 1555 &pos_trig 1556 &pos_trig 1557 &pos_trig 1558 &pos_trig 1559 &pos_trig 1560 &pos_trig 1561 &pos_trig 1562 &pos_trig 1563 &pos_trig 1564 &pos_trig 1565 &pos_trig 1566 &pos_trig 1567 &pos_trig 1568 &pos_trig 1569 &pos_trig 1570 &pos_trig 1571 &pos_trig 1572 &pos_trig 1573 &pos_trig 1574 &pos_trig 1575 &pos_trig 1576 &pos_trig 1577 &pos_trig 1578 &pos_trig 1579 &pos_trig 1580 &pos_trig 1581 &pos_trig 1582 &pos_trig 1583 &pos_trig 1584 &pos_trig 1585 &pos_trig 1586 &pos_trig 1587 &pos_trig 1588 &pos_trig 1589 &pos_trig 1590 &pos_trig 1591 &pos_trig 1592 &pos_trig 1593 &pos_trig 1594 &pos_trig 1595 &pos_trig 1596 &pos_trig 1597 &pos_trig 1598 &pos_trig 1599 &pos_trig 1600 &pos_trig 1601 &pos_trig 1602 &pos_trig 1603 &pos_trig 1604 &pos_trig 1605 &pos_trig 1606 &pos_trig 1607 &pos_trig 1608 &pos_trig 1609 &pos_trig 1610 &pos_trig 1611 >;
        };
    };
};
